;
; API server host
;
API_HOST=localhost

;
; API server host
;
API_SCHEMAE=http

;
; API server post
;
API_PORT=3001

;
; API database connection string (the database user MUST NOT be the owner of the database)
;
DATABASE_URL=postgres://username:password@host:port/dbname

;
; Throttle default ttl
;
THROTTLE_TTL=60

;
; Throttle default limit
;
THROTTLE_LIMIT=10

;
; Shorten Url Size
;
SHORTEN_URL_SIZE=10
